/*************************************************************
fonts
*************************************************************/

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas/BEBAS___-webfont.eot');
    src: url('../fonts/bebas/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/bebas/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/bebas/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothamthin';
    src: url('../fonts/gotham_thin/gotham-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gotham_book/gotham_book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothambold';
    src: url('../fonts/gotham_bold/gotham-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
