/*************************************************************
BODY
*************************************************************/

body, html {
	height: 100%;
	width: 100%;
}


body {
	background:  #000 url('../img/header/background-texture-copy.png') no-repeat;
	background-size: 100% auto;
	padding:25px 0 0;
	font-family: 'bebasregular', Arial, sans-serif;
}

@media only screen and (max-width: 40em) { 
	body {
		background-size: 400%;
	}
} 

@media only screen and (min-width: 40em) and (max-width: 64em) { 
	body {
		background-size: 100% 200px;
	}
}

p {
	font-family: 'gothamthin', Arial, sans-serif;
	color: black;

}

h1,h2,.button {
	color:white;
	font-family: 'bebasregular', Arial, sans-serif;
	word-spacing: 5px;
}

a {
	color:white;
}

a[href^="tel"]{
	color: white;
}

.collapse-row{
	height:1px;
}

.image-slider{
	z-index: -1;
}

.left-shade, .right-shade{
	position: fixed;
	width: 8%;
	height: 120%;
	background-color: rgba(0,0,0,.3);
	top: -25px;
	z-index: 2000;
}

.left-shade{


}

.right-shade{

	right: 0%;

}

@media only screen and (max-width: 75em) { 
	.right-shade, .left-shade {
		display: none;
	}
} 



/*************************************************************
HEADER
*************************************************************/

/*************************************************************
HEADER - LOGO
*************************************************************/

#logo {
	text-align: center; /*Make bigger... position lower*/
}

#logo img{
	position: relative;
	top:60px;
	width: 100%
}



@media only screen and (max-width: 40em) {

	#logo img{
		position: static;
		width:60%;
	}

} 

@media only screen and (min-width: 40em) and (max-width: 65em) {

	#logo img{
		position: static;
		width:40%;
	}

} 


/*************************************************************
HEADER - NAV
*************************************************************/

nav {
	width: 100%;

}

nav ul {
	list-style: none;
	padding: 0 0;
	margin-top: 130px;
	margin-left: 0px;
	margin-bottom: 0px;
}

nav li {
	padding: 0 5px;
	margin: 0;
	display: inline;


}

nav li a{
	color: #a8a5a4;
	font-size: 1.2em;
	padding-top: 50px;
}

nav li a:hover {
	position: relative;
	opacity: 1.0;

	color: #fff799;
	background-image: url("../img/header/white-arrow.gif"), url("../img/header/header-nav-highlight.png");
	background-size: auto, cover;
	background-repeat: no-repeat;
	background-position: 50% 50%, top center; 

}

#all-top-nav {
	height: 177px;
}

#large-nav {
	position: absolute;
	bottom: 0px;
	left: 0px;
}



@media only screen and (max-width: 64em) { 

	#all-top-nav {
		height: auto;
	}
	nav li a:hover {
		opacity: 1.0;
		color: #fff799;
		background-image: none;
	}
	
	.remove-padding-mobile {
		padding: 0;
		z-index: 50;
	}	

	#mobile-menu ul{
		margin-top: 0px;
		padding-top: 10px;
		width: 200%;
	}

	#mobile-menu ul li{
		margin-top: 0px;
		display: inline;
	}

	.move-right .inner-wrap {
		transform: translate3d(90%, 0, 0);
	}

	.left-off-canvas-menu {
		width: 90%;
	}

	#mobile-menu ul li a{
		background-image: none;
	}

	div.inner-wrap {
	}
}

@media only screen and (max-width: 40em) {
	nav ul {
		/*margin-top: 50px;*/
	}

	nav li a{
		font-size: .9em;
	}

} 

/*************************************************************
HERO
*************************************************************/

#hero {
	background: -webkit-linear-gradient(right, rgba(166,166,166,0.2), rgba(255,255,255,0.0), rgba(166,166,166,0.2));

}


#hero img {
	width: 100%;
}

#headline h1{
	color: white;
	position: relative;
	top: -275px;
	padding-left: 190px;
	letter-spacing: 5px;
	word-spacing: 10px;
	font-family: 'bebasregular', Arial, sans-serif;
}

#headline h1 span {
	color: #f1ef93; 
}

.hero-text-large{
	position: relative;
	background-color: green;
	top: -140px;
	background-color: rgba(0,0,0,0.4);
	height: 150px;
	width: 60%;
	margin: auto;
}

.hero-text-large p, #hero-text-other p{
	color:white;
}

@media only screen and (max-width: 64em) { 
	#headline h1{

		position: relative;
		top: -150px;
		left: 0px;

	}
	.image-slider img{
		width: 100%;
		z-index: -1;
	}
} 

@media only screen and (max-width: 44em) { 
	#headline h1{
		font-size: 1.75em;
		padding-left: 0px;
		bottom: 0px;

	}
} 


/*************************************************************
SERVICES AND PROJECTS
*************************************************************/

.services, .projects {
	background-color: white;
	margin-top: 20px;
	padding-left: 0px;

}

 .services h3, .projects h3 {
	font-family: 'bebasregular', Arial, sans-serif;
	word-spacing: 5px;
	font-size: 2.5em;
}

.services p, .projects p{
	font-family: 'gothamthin', Arial, sans-serif;
	font-weight: 500;
}

.services p:nth-of-type(2), .projects p:nth-of-type(2){
	font-family: 'gothambold', Arial, sans-serif;
	font-weight: bold;
	text-decoration: underline;
	text-align: right;
}

.services img, .projects img{
	margin-right: 5px;
}

@media only screen and (max-width: 64em) { 
	.services, .projects {
	 	text-align: center;
	}
} 



/*************************************************************
SERVICES AND PROJECTS - SERVICES
*************************************************************/
.services h3 {
	color: #076028;
}

.services {
	height: 200px;
	color: black;
}

.services img {
	position: relative;
	border-left: 15px solid #076028;
	border-right: 15px solid #076028;
	height: 100%;
}

.services a {
	color: #076028;
}

@media only screen and (max-width: 64em) { 
	.services {
	 	height: 250px;
	}

	.services img{
		/*margin-left: 15px;*/
	}
} 
/*************************************************************
SERVICES AND PROJECTS - PROJECTS
*************************************************************/

.projects h3{
	color: #a44310;
}

.projects p {
	margin-bottom: 0px;
}


.projects {
	height: 190px;	
	margin-bottom: 20px;
	color: black;
}

.projects img {
	position: relative;
	border-left: 15px solid #a44310;
	border-right: 15px solid #a44310;
	height: 100%;
}

.projects a{
	color: #a44310;
}

@media only screen and (min-width: 40em) and (max-width: 64em) { 

	.image-box {
		height:150px;
		overflow: hidden;
	}
	#proj-serv-images{
		width: 600px;
		margin-left: auto;
		margin-right: auto;

	}

	img.projects{
		border-left: 15px solid #a44310;
		border-right: 15px solid #a44310;
		margin: 0 50px 0 0;



	}
	
	img.services {
		border-left: 15px solid #076028;
		border-right: 15px solid #076028;
		margin: 0; 
/*
		height: 100%;*/

	}

} 

/*************************************************************
QUOTES AND QUOTE
*************************************************************/


#serviceList {
	background: -webkit-linear-gradient(right, #b1b17e, #c8c794, #b1b17e);
	color: white;
	height: 200px;
}

#serviceList ul{
	list-style: none;
	text-align: center;
	margin-top: 150px;
	margin-left: 0px;
}

#serviceList ul li{
	display: inline;
	margin-right: 15px;
	font-size: 1.5em;
	text-align: center;
	word-spacing: 5px;
}

@media only screen and (max-width: 64em) {
	#serviceList ul {
		margin-top: 10px;
	}
} 

#quote {
	background: -webkit-linear-gradient(right, #116d2a, #309533, #116d2a);
	height: 200px;
	padding: 0;
	border-left: black 15px solid;
	text-align: center;
}

#quote h2{
	font-size: 2em;
}

#quote .button{
	background-color: #053b11;
	font-size: 1.5em;
}



@media only screen and (max-width: 64em) {
	#quote {
		border-left: none;
		margin-top: 15px;
	}
} 

/*************************************************************
Associations
*************************************************************/

#associations{
	margin: 20px 0px;
	padding-left: 0px;
}

#associations img{
	margin-right: 20px;
	margin-left: 0px;
}

#tree {
	background: url('../img/footer/footer.jpg') no-repeat top;
	/*background-size: cover;*/
	min-height: 350px;
}



/*************************************************************
FOOTER
*************************************************************/


footer {
	background-color: #00813e;
	color: white;
}


.bottom {
	height: 300px;
	background-color: #00813e;
	color: white;
}

.bottom ul {
	list-style: none;
}


.bottom p, .bottom h5 {
	color: white;
	font-size: 1em;
	font-family: 'bebasregular', Arial, sans-serif;
	word-spacing: 5px;
}

@media only screen and (max-width: 64em) {
	.bottom ul, .bottom h5, .bottom address, .bottom a{
		margin-left:30%;
		text-align: center;
		margin-left: initial;
	}
	.bottom {
		height:200px;
	}

	.bottom a[href^="tel"]{
		margin-left: 35%;

	}


}


/*************************************************************
FOOTER FORM
*************************************************************/
form input{
	float: left;
}

form input[type="text"]{
	width: 80%;
}
form input[type="submit"]{
	width: 17%;
	margin-left: 3%;
	height: 37px;
	background-color: #282915;
	border: 0;
	color: white;
	font-size: 1em;
}

/*************************************************************
COPYRIGHT DIV
*************************************************************/

#copyright{
	background-color: #00813e;
	padding-left: 10%;
}

@media only screen and (max-width: 64em) {
	#copyright{
		padding-left: 0%;
	}
}
















