/*************************************************************
body
*************************************************************/

html {
	width: 100%;
}
body{
	background-color: black;
	position: relative;
}

.left-pad-rem {
	padding-left: 0px;
}

.right-pad-rem {
	padding-right: 0px;
}

h2 {
	color:white;
}

a {
	color:white;
}

a[href^="tel"]{
	color: white;
}

/*************************************************************
HEADER 
*************************************************************/

header {
	position: absolute;
	height: 163px;
	background-image: url("../img/header/menu-background.png"), url("../img/header/header-image.png");
	width: 100%;
	background-repeat: repeat-x, no-repeat; 
	background-size: 120% 35%, 100% 100%;
	background-position: bottom, top;

}

/*************************************************************
HEADER - RIGHT NAV
*************************************************************/

.container {
	position: relative;
	height: 100%;
}


#menu-list{
	
	height: 4em;
	margin: 0 0;
	/*bottom: 0%;*/
}

header .row {
	position: relative;
	height: 100%;
}

#header-nav {
	position: relative;
	padding: 0px;
	top: 60%;
	z-index:20;
}

header ul li {
 height: 5em;
}

header ul li a {
	height: 4em;
	padding-top: 1.3em;
	color: #a8a5a4;
}

header ul li:first-child{
	margin-left: 1.5em;

}

header ul li a:hover {
	opacity: 1.0;
	color: #fff799;
	background-image: url("../img/header/white-arrow.gif"), url("../img/header/header-nav-highlight.png");
	background-repeat: no-repeat;
	background-position: 50% 25%;
}


/*************************************************************
HEADER - LEFT
*************************************************************/

.logo {
	position: relative;
	left: 9%;
	top: 35%;
	z-index: 10;
}

.logo img {

}
/*************************************************************
HERO
*************************************************************/

#hero {
	position: absolute;
	margin-top: 163px;
    height: 754px;
	width: 100%;
	background-image: url("../img/hero/hero-1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}


#headline h1{
	color: white;
	position: absolute;
	top: 500px; /*!!!Why cant I use fucking percentages get to go inline*/
	margin-left: 10%;
}

#headline h1 span {
	color: #f1ef93; 
}

#hero-text{
	position: absolute;
	bottom: 0%;
	width: 60%;
	margin-left:10%; /*Look at this shit!*/
	background-color: rgba(0,0,0,0.4);
}

#hero #hero-text p {
	color: white;
}

/*************************************************************
DIVIDER
*************************************************************/
div .row .divider-container {
	position: relative;
}
.divider{
	position: absolute;
	margin-top: 917px;
	height: 10px;
	width: 100%;
	background-image: url("../img/green-divider.png");
	background-repeat: no-repeat;	
	background-position: center;

}

/*************************************************************
INFO ROWS
*************************************************************/
#services-and-features{
	position: absolute;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 927px;
}
.info-row {
/*	position: absolute;
	margin-top: 900px;*/
	color: black;
	background-color: white;
	margin-top: 20px;

}

.image-container {
	padding-left: 0px;
}

.info-row h3 {
	font-size: 2em;
}

.info-row p{
	margin-bottom: 0;
}

.info-row p:nth-of-type(2){
	text-align: right;
	font-weight: bold;
	text-decoration: underline;
}


/*************************************************************
SERVICE
*************************************************************/

#service h3 {
	color: #076028;

}

#service-image {
	padding: 0;
	border-left: 15px solid #076028;
	border-right: 15px solid #076028;
}

#service a {
	color: #076028;
}

/*************************************************************
FEATURED
*************************************************************/
#featured h3{
	color: #a44310;
}
#featured-image {
	padding: 0;
	border-left: 15px solid #a44310;
	border-right: 15px solid #a44310;
}

#featured a {
	color: #a44310;
}

/*************************************************************
SERVICE BLOCK
*************************************************************/

#quote-and-contact {
	position: absolute;
	margin-top:1400px;
	width: 100%
}

#quote-and-contact .row {

}

#service-block {
	background: -webkit-linear-gradient(right, #b1b17e, #c8c794, #b1b17e);
	margin-top: 20px;
	height: 200px;
	color: white;
}

#service-block ul {
	list-style: none;
	position: absolute;
	bottom: 0px;
}

#service-block ul li {
	width: 100px;
	float: left;
	margin-right: 30px;
	font-size: 1.7em;
	text-align: center;
}
/*************************************************************
GET A QUOTE
*************************************************************/

#quote {
	background: -webkit-linear-gradient(right, #116d2a, #309533, #116d2a);
	margin-top: 20px;
	height: 200px;
	text-align: center;
}

#quote h2{
	font-size: 3em;
}

#quote .button{
	background-color: #053b11;
	font-size: 2em;
}

/*************************************************************
ASSOCIATIONS
*************************************************************/

#associations {
	position: relative;
	height: 200px;
	width: 100%;
	background-image: url("../img/bottom-background.png");
	background-position: bottom left;
	background-size: cover; /*What the fuck*/
	z-index: 20;
}


#associations div {
	position: absolute;
	bottom: 20%;
	width: 100%;
}


/*************************************************************
FOOTER
*************************************************************/

footer {
	position: absolute;
	width: 100%;
	margin-top: 1820px;
	background-color: #00813e;
	color: white;

}

footer ul {
	list-style: none;
	margin-left: 0;
	font-size: .7em;
}

footer p, footer address, footer a{
	font-size: .7em;
}

footer h5 {
	color: white;
	font-size: 1em;
}

/*************************************************************
FOOTER FORM
*************************************************************/
footer form input{
	float: left;
}

footer form input[type="text"]{
	width: 80%;
}
footer form input[type="submit"]{
	width: 17%;
	margin-left: 3%;
	height: 37px;
	background-color: #282915;
	border: 0;
	color: white;
	font-size: 1em;
}

/*************************************************************
FOOTER Charger
*************************************************************/

#charge {
	padding: 0 0;
}







.testone{
	background-color: lightblue;
	bottom: 50px;
}
